.nav {
    justify-content: center;
}

.output {
    display: inline-flex;
    border-radius: 4px;
    background-color:darkblue;
    color: white;
    margin: 4px;
    padding: 4px;
    
}

.navButton {
    /* display: inline-flex;
    margin: 4px;
    padding: 4px; */
}

.displayHide {
    display: none;
}

.displayBlock {
    display: block;
}