.checkboxFieldset {
    /* background-color: yellowgreen; */
    width: 100%;
    text-align: left;
}

.titles {
    /* width: 20%; */
    height: 100%;
    margin-right: 10%;
    vertical-align: middle;
    /* background-color: tomato; */
}

.cardMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: violet; */
}