.radioArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /* background-color: yellow; */
}

.checkboxColumn {
    display: flex;
    flex-direction: column;
    /* background-color: skyblue; */
    /* width: 95%; */
}

.partTitle {
    width: 50%;
    /* height: 100%; */
    /* margin-right: 10%; */
    /* vertical-align: middle; */
    /* background-color: tomato; */
}

.partCardMain {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.images {

    /* border-style: solid;
    border-color:hotpink; */
    margin: 10px;
    height: inherit;
}

.divLogo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 140px;
}